    @import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

    .prettyprint ol.linenums > li { list-style-type: decimal; }

    body{
        font-family: 'Open Sans', sans-serif;
        padding:10px;
    }
    #examples{
        display: flex;
        flex-wrap: wrap;
    }

    #examples>div {
        display: inline-block;
        vertical-align: top;
        margin: 10px 0 0 2%;      
    }

    #examples>div.demo {    
        flex-grow: 1;
        width: calc(100% * (1/4) - 10px - 2%);
    }    
    
    #examples>div.script {        
        flex-grow: 3;
        width: calc( 100% * (3/4) - 10px - 2%);
    }    
    div.script>pre{
        margin:0;
    }
        